<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <style type="text/css" title="x-apple-mail-formatting"></style>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title></title>
    <style>
        * {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }
        body {
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
            margin: 0;
            padding: 0;
            font-size: 100%;
            line-height: 1.6
        }
        @media only screen and (max-device-width: 700px) {
            .table-wrapper {
                margin-top: 0 !important;
                border-radius: 0 !important;
            }
        }
    </style>
</head>

<body>
<table style="background: #F5F6F7; width: 100%; cellpadding: 0; cellspacing: 0">
    <tbody>
    <tr>
        <td>
            <table cellpadding=0 cellspacing=0 class="table-wrapper"
                   style="margin:auto;margin-top:50px;border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px;max-width:700px !important;box-shadow:0 8px 20px #e3e7ea !important;-webkit-box-shadow:0 8px 20px #e3e7ea !important;-moz-box-shadow:0 8px 20px #e3e7ea !important;box-shadow: 0 8px 20px #e3e7ea !important; -webkit-box-shadow: 0 8px 20px #e3e7ea !important; -moz-box-shadow: 0 8px 20px #e3e7ea !important;">
                <tbody>
                <tr>
                    <td class="container" bgcolor="#FFFFFF"
                        style="display:block !important; margin:0 auto !important; clear:both !important">
                        <img src="https://d2oz8i5n9se8ej.cloudfront.net/bg/background-email-header.jpg"
                             style="max-width:100%">
                    </td>
                </tr>
                <tr>
                    <td class="container content" bgcolor="#FFFFFF"
                        style="padding:35px 40px;border-bottom-left-radius:6px;border-bottom-right-radius:6px;display:block !important;margin:0 auto !important;clear:both !important">
                        <div class="content-box" style="max-width:600px;margin:0 auto;display:block">
                            <h1 style="margin-bottom:15px;color:#47505E;margin:0 0 10px; line-height:1.2; font-weight: 200; font-size: 28px; font-weight:bold;margin-bottom:30px">
                            Đặt lại mật khẩu
                            </h1>
                            <p style="line-height:1.7;margin-bottom:1em;font-size:15px;color:#47505E">
                                Nhấn vào đường link bên dưới để đặt lại mật khẩu.
                            </p>
                            <center>
                                <!--/*@thymesVar id="urlResetPassword" type=""*/-->
                                <a th:href="${urlResetPassword}" class="confirmation-url btn-primary"
                                   style="color:#1EA69A;word-wrap:break-word;text-decoration:none;background-color:#FF7F45;border:solid #FF7F45;line-height:2;max-width:100%;font-size:14px;padding:8px 40px 8px 40px;margin-top:30px;margin-bottom:10px;font-weight:bold;cursor:pointer;display:inline-block;border-radius:30px;margin-left:auto;margin-right:auto;text-align:center;color:#FFF !important">
                                    Đặt lại mật khẩu
                                </a>
                            </center>

                            <p style="font-weight:normal;padding:0;line-height:1.7;margin-bottom:1.3em;font-size:15px;color:#47505E">
                                Thân,<br>CHC Team</p>
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
                </tbody>
            </table>


            <div class="footer"
                 style="padding-top:30px;padding-bottom:55px;width:100%;text-align:center;clear:both !important">

                <p style="font-weight:normal;padding:0;line-height:1.7;margin-bottom:1.3em;font-size:15px;color:#47505E;font-size:12px;color:#666;margin-top:0px">
                    <a href="http://nguyenchicuong2402.tk" target="_blank" style="color: rgb(102, 102, 102); -webkit-text-decoration-color: rgba(102, 102, 102, 0.258824);">
                        CHC - Loa và phụ kiện âm thanh</a>
                </p>
            </div>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>